<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Amanda Lu">
    <meta name="keywords" content="Say It With Sweets">
    <meta name="description" content="Say It With Sweets Website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Say It With Sweets Home Page</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div id="container">
        <div id="navigation">
            <header>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="products.html">Products</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </header>
        </div>
            
        <main>
            <div id="content">
                <h2>Welcome to Say It With Sweets!</h2>
                <h4>
                    &emsp; "Say it with Sweets" is a boutique bakery renowned for crafting an exquisite array of cakes, cookies, and custom cupcake creations suited for every conceivable occasion. 
                    With a rich legacy spanning over a decade, this establishment has perfected the art of offering distinctive sweet treats 
                    that serve as the ideal gifts. 
                </h4>
            </div>

            <div id="cards">
                <div id="icon1">
                    <a href="about.html"><h3>Our Story</h3></a>
                    <img src="../static/images/11.jpg" alt="a tasty cupcake">
                    </div>
                <div id="icon2">
                    <a href="products.html"><h3>Products</h3></a>
                    <img src="../static/images/22.jpg" alt="four pink cupcakes side by side">
                    </div>
                <div id="icon3">
                    <a href="contact.html"><h3>Contact Us</h3></a>
                    <img src="../static/images/33.jpg" alt="one cupcake with a red heart decorated on it">
                    </div>
            </div>
            <div id="customer-location-api">
                <hr class="custom-hr">
                <h1>Despite the distance between us, I can bridge the gap by delivering our freshly baked goods straight to your doorstep.</h1>
                <button id="locations">
                    <a href="location.html">Show my location and distance to the bakery on map</a>
                </button>
                <h1>Our baked goods has the power to bring us closer together.</h1>
            </div>
        </main>
        
        
        <footer class="footer">
            <h3>Say It With Sweets</h3>
            <div class="social-media">
                <a target="_blank" alt="instagram" href="https://www.instagram.com/sayitwithsweets11/"><img class="footer_icon" src="../static/images/instagram.png"></a>
                <a target="_blank" alt="facebook" href="https://www.facebook.com/say.it.with.sweets"><img class="footer_icon" src="../static/images/facebook.png"></a>
                <a target="_blank" alt="yelp" href="https://www.yelp.com/biz/say-it-with-sweets-altoona?osq=say+it+with+sweets"><img class="footer_icon" src="../static/images/yelp.png"></a>
            </div>
            <div class="credits">
                <p>&copy; 2024 Say It With Sweets</p>
                <p>Address: 1307 Pleasant Valley Blvd. Altoona PA 16602 US </p>
                <p>Phone: +1 814-937-1564</p>
                <p>Email: <a href="mailto:info@sayitwithsweets.com">info@sayitwithsweets.com</a></p>
            </div>
        </footer>
    </div>
</body>
</html>